##
# Local configuration settings
#
# @author Markus Tacker <m@tacker.org>
# @version $Id$
# @package Ausgaben
# @subpackage Configuration
##
[path]
# Give the path to your smarty's libs directory
smarty=/usr/local/lib/smarty/libs
# Give the path where you've installed Ausgaben
home=/www/localhost/htdoc/ausgaben
[database]
dsn=mysql://ausgaben:HBkYXw_F@localhost/ausgaben
[misc]
locale=de_DE@euro